<VirtualHost 0.0.0.0>
	Port 							<%= @proftpd_ftps_port %>
	MasqueradeAddress				<%= @proftpd_ftps_masquerade_address %>
    <IfModule mod_tls.c>
    	TLSEngine					on
    	#-----------------------------------------------------------------------
    	# Config TLS
    	#-----------------------------------------------------------------------
    	TLSRSACertificateFile		<%= @proftpd_ftps_cert %>
    	TLSRSACertificateKeyFile	<%= @proftpd_ftps_key %>
		TLSCACertificateFile		<%= @proftpd_ftps_cert %>
    	TLSLog						/var/log/proftpd/tls.log
    	TLSVerifyClient				off
    	TLSRenegotiate				none
    	TLSRequired					on
    	TLSCipherSuite				HIGH:!aNULL:!MD5:!DHE:!AES128-CBC:!AES256-CBC:!CAMELLIA:!SEED:!SHA1
    	TLSProtocol					TLSv1.2 TLSv1.3
    </IfModule>
</VirtualHost>
