#
# This file is used to manage DSO modules and features.
#

# This is the directory where DSO modules reside

ModulePath /usr/lib/proftpd

# Allow only user root to load and unload modules, but allow everyone
# to see which modules have been loaded

ModuleControlsACLs insmod,rmmod allow user root
ModuleControlsACLs lsmod allow user *

<% @proftpd_modules_base.each do |mod| -%>
LoadModule <%= mod %>
<% end-%>

<% @proftpd_modules_extra.each do |mod| -%>
LoadModule <%= mod %>
<% end-%>

# keep this module the last one
LoadModule mod_ifsession.c


