<IfModule mod_sftp.c>
  <VirtualHost 0.0.0.0>
    Port <%= @proftpd_sftp_port %>
    SFTPEngine on
    SFTPAuthMethods password
    SFTPOptions IgnoreSFTPSetPerms IgnoreSFTPUploadPerms IgnoreSFTPSetTimes
    SFTPHostKey /etc/ssh/ssh_host_dsa_key
    SFTPHostKey /etc/ssh/ssh_host_rsa_key
    SFTPHostKey /etc/ssh/ssh_host_ecdsa_key
    SFTPCompression                 delayed
  </VirtualHost>
</IfModule>
