#
# Proftpd sample configuration for SQL-based authentication.
#
# (This is not to be used if you prefer a PAM-based SQL authentication)
#

<IfModule mod_sql.c>
  #
  # Choose a SQL backend among MySQL or PostgreSQL.
  # Both modules are loaded in default configuration, so you have to specify the backend
  # or comment out the unused module in /etc/proftpd/modules.conf.
  # Use 'mysql' or 'postgres' as possible values.
  #
  #SQLBackend     mysql
  #
  #SQLEngine on
  #SQLAuthenticate on
  #
  # Use both a crypted or plaintext password
  #SQLAuthTypes Crypt Plaintext
  #
  # Use a backend-crypted or a crypted password
  #SQLAuthTypes Backend Crypt
  #
  # Connection
  #SQLConnectInfo proftpd@sql.example.com proftpd_user proftpd_password
  #
  # Describes both users/groups tables
  #
  #SQLUserInfo users userid passwd uid gid homedir shell
  #SQLGroupInfo groups groupname gid members
  #
</IfModule>


<IfModule mod_sql_postgres.c>
  SQLBackend postgres
  SQLEngine on
  SQLAuthenticate users
  SQLAuthTypes OpenSSL Crypt plaintext
  #SQLLogFile /var/log/proftpd/sql
  SQLConnectInfo <%= @proftpd_sqlconnectinfo %>
  #SQLUserInfo dexh_gateway httpuser httppassword NULL NULL homedir NULL
  SQLUserInfo ftpgateway_view httpuser httppassword NULL NULL homedir NULL
  SQLDefaultHomedir /var/ftpgateways
  RequireValidShell off
  #CreateHome on
  CreateHome on skel /var/ftp/skel
  SQLDefaultUID <%= @proftpd_sql_uid %>
  SQLDefaultGID 0
</IfModule>


